    a, h1 {
        color: #d8f0ff;
    }
	.back-to-top:hover {
		background-color: #d8f0ff;
	}		
    #header-container {
        background-color: #182730;
    }
    #bg {
        background: #182730;
    }

    #addressbrd-inside {
        background-color: #182730;
        border-color: #182730;
    }
    #addressbrd-inside {
        color: #ffffff;
    }

    body {
        background-color: #182730;
    }

    #content-container hr{
      color: #ffffff;
      height: 1px;
      border: 0px;
      background-color: #ffffff;
    }



			#main-menu,#main-menu ul li,#main-menu ul li.active {
			background-color: #182730;
		}
		
			#main-menu ul li,#main-menu ul li.active  {
			border-bottom-color: #ffffff !important;
		}
		#main-menu{
		  border-top-color: #ffffff;
		  -moz-box-shadow: 0px 7px 6px -6px #ffffff;
		  -webkit-box-shadow: 0px 7px 6px -6px #ffffff;
		  box-shadow: 0px 7px 6px -6px #ffffff;
		}

		@media only screen and (max-device-width: 480px) {
		  #main-menu {
			border-top: 0px !important;
		  }
		}
				#main-menu ul li.active a,#main-menu ul li.activesub a {
			color: #ffffff !important;
		}

		#main-menu ul li.active:before {
			content: "";
			border-color: #ffffff !important;
			border-style: solid;
			border-width: 4px;
			display: block;
		}
		#main-menu ul li.activesub:before {
			content: "";
			display: block;
			position: relative;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 4px solid #ffffff !important;	
			border-bottom: 0;
		}	
		#freecall div:hover  {	
			background-color: #ffffff;
		}
			
			#main-menu ul li a,#main-menu ul li.noactive a {
			color: #ffffff !important;
		}	
		#freecall div {	
			background-color: #ffffff;
		}		
		
			#main-menu ul a:hover {
			color: #c3cdf2 !important;
		}	
		

